$dark: #202a25;
$light: #c7ebd9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./../media/background.jpg') no-repeat center;
  background-size: cover;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  @include flex(row);
}

.col {
  @include flex(column);
}

.app {
  width: 100vw;
  min-height: 100vh;
  @include flex(column);
  justify-content: unset;
  text-align: center;

  button {
    padding: 2px 5px;
    background-color: $light;
    border: 0.5px solid $dark;
    border-radius: 1rem;
    color: $dark;
    cursor: pointer;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .users {
    color: $dark;
    text-shadow: 1px 1px 1px $light;
    h1 {
      margin: 1rem 0;
    }
    table {
      margin-top: 42px;
      border-collapse: collapse;
      .border {
        padding-left: 5px;
        padding-right: 5px;
        border-right: 1px solid $dark;
        border-left: 1px solid $dark;
      }
      .uname {
        width: 120px;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
        &:hover,
        &:active {
          color: $light;
          text-shadow: 0 0 1px $dark;
        }
      }
      .inp-group {
        padding: 14px 0;
        input {
          margin-right: 5px;
          padding: 2px 5px;
          border: 0.5px solid $dark;
          border-radius: 1rem;
        }
      }
    }
  }

  .game {
    width: 100%;
    height: 100vh;
    @include flex(column);
    color: $light;
    text-shadow: 1px 1px 1px $dark;
    font-size: 24px;
    .card {
      width: 150px;
      height: 210px;
      background: url('./../media//card.png') no-repeat center;
      background-size: cover;
      font-size: 30px;
      font-weight: 600;
      span {
        width: 100%;
        height: 100%;
        @include flex(column);
        background-color: rgba(32, 42, 37, 0.555);
        border-radius: 10px;
      }
    }
    button {
      padding: 3px 7px;
      font-size: 16px;
    }
    .remaining {
      font-size: 14px;
    }
  }

  .result {
    color: $dark;
    text-shadow: 1px 1px 1px $light;
    p {
      margin: 3rem 0;
      font-size: 42px;
    }
    button {
      margin: 10px;
      padding: 5px 10px;
      font-size: 18px;
    }
  }
}
