* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #bbb0eb;

  .add-vehicle {
    display: flex;
    flex-direction: column;

    input,
    button {
      margin: 10px;
      padding: 5px 10px;
      border: 1px solid #000;
      border-radius: 10px;
      font-size: 14px;
    }
  }

  .vehicle {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}
