.room {
  @include flex-col;

  p {
    display: block;
    text-align: start;

    span {
      font-weight: 900;
    }
  }

  .products {
    margin: 2rem 0;

    .product {
      margin: 0.2rem 0;
      padding: 0.5rem 1rem;
      border: 0.5px solid #000;
      border-radius: 10px;
      color: #000;
      cursor: pointer;
    }
  }
}
