.App {
  text-align: center;
  background-color: #282c34;
  color: rgb(130, 215, 245);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}
